<!-- must import socket.io itself (seperate from Flask-socketIO -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"
    integrity="sha512-2ho+gY0H62N4Z9oxD422L2ZYXiOMq9l+Aub1QNz4Z4UDOtDVxz4vk6O6R3Hqqc9Y7qSvZFl7cy3+eZ/ITnUrLA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% extends 'base.html' %}

{% block content %}

<section id="chat-section">
    <div id="main_container">
        <div id="chat-console">
            <div>
                <h1 id="chat-h1">You are not alone</h1>
            </div>
            <div id="message-area-div">
                <div class="alert alert-primary overflow-auto chatbox" id="message_area" role="alert"></div>
                <div class="form-group">
                    <input type="text" id="username" name="username" value="Anonymous" class="nice-forms">
                </div>
                <div>
                    <textarea type="text" id="messageField" name="messageField" placeholder="Enter your message"
                        class="nice-forms"></textarea>
                </div>
                <div>
                    <input type="submit" id="sendButton" value="SEND" class="button1 btn-lg zoom-effect">
                </div>
            </div>
        </div>
</section>



    <script src="../static/js/chat.js"></script>

    {% endblock %}