{% extends 'base.html' %}

{% block content %}

<div id="awareness-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <h1 class="main-heading text-uppercase">
                    Raise awareness about the impact of breast cancer
                </h1>
                <h3 class="sub-heading">
                    Breast cancer is the most common cancer in women worldwide.
                </h3>
            </div>
        </div>
    </div>
</div>

<section class="bg-ss">
    <div class="container">
        <div class="row">
            <h3 class="section-heading-1 text-uppercase">
                Breast cancer is the most common cancer in women worldwide
            </h3>
        </div>
        <div class="row">
            <p class="intro-para lead mt-3">
                Breast cancer is a disease where malignant (cancerous) cells form in the breast.
                The facts remain that while women and men of any age can be diagnosed with breast cancer,
                most women diagnosed with breast cancer are over the age of 50, but younger women and men can also get breast cancer.
                About 1 in 8 women are diagnosed with breast cancer during their lifetime. There's a good chance of recovery if it's detected at an early stage.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-6 mx-auto">
                <h3>Don’t Play with your Health. Get Checked.</h3>
                <hr class="heading-hr text-center">
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-lg-6">
                <p>
                    <strong>1 in 7 women will be diagnosed with breast cancer in their lifetime.</strong> Mammograms are the 
                    best way to find breast cancer early, when it is easier to treat, and before it is big 
                    enough to feel or cause symptoms.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="{{ url_for('static', filename='img/mammogram.jpg') }}" alt="">
            </div>
        </div>
    </div>





<h1>Information</h1>

{% for info in allInfo %}

<h4>_________________________</h4>

<h4>{{ info.title }}</h4>
<p>{{ info.text }}</p>

<a href="{{ url_for('edit_info_page', infoId=info._id) }}">[edit]</a>
<a href="{{ url_for('delete_info', infoId=info._id) }}">[delete]</a>

<h4>_________________________</h4>

{% endfor %}
<ul class="list-unstyled">
    <li><a href="{{ url_for('new_info') }}">Add new information</a></li>
    <li><a href="{{ url_for('index') }}">back</a></li>
</ul>

{% endblock %}