{% extends 'base.html' %}

{% block content %}

<section class="bg-ss">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading-1 text-uppercase">Share Your Story</h2>
        </div>
        <hr class="heading-hr mx-auto">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="pt-3">
                    We believe nobody should be afraid to share their experience of breast cancer, nobody
                    should suffer in silence. Share your story here and help inspire others with your
                    bravery
                </p>
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ url_for('create_story') }}"
                        class="btn btn-lg justify-content-center text-uppercase 
                        section-button">Share your story</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            {% for story in stories %}
            <div class="col-lg-4 col-md-6">
                <div class="card story-card zoom-effect scroll">
                    <div class="card-img">
                        <!--generate image url using jinja. generate random number used to select a static image-->
                        {% set imgurl1 ="../static/img/face" %}
                        {% set imgurl2int = range(1, 15) | random %}
                        {% set imgurl2string = imgurl2int|string %}
                        {% set imgurl3 = ".png" %}
                        {% set fullurl = imgurl1 + imgurl2string + imgurl3 %}
                        <img src="{{fullurl}}" alt="user image" class="story-img img-fluid">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ story.title }}</h4>
                        <p class="card-date">{{ story.date }}</p>
                        <p class="card-text">{{ story.text }}</p>
                        {% if user!="guest" %}
                        <a href="{{ url_for('edit_story_page', storyId=story._id) }}"
                            class="btn btn-warning btn-sm justify-content-center section-button">Edit</a>
                        <a href="{{ url_for('delete_story', storyId=story._id) }}"
                            class="btn btn-danger btn-sm justify-content-center section-button">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}